
body{
font-family: 'Arbutus Slab';font-size: 22px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

li{
  display: inline;

}
.container{
  margin-top:60px;

}

.menu{
  width:100%;
  height:5px;
  display: block;
  color:#fff;
   font-size:1.3em;
}

a {
  float:right;
  display: block;
  padding: 8px;
  background-color: #000;
  color:#00c6a5;
}

.infomsg{
  /*position:absolute;*/
  display: block;
  padding: 8px;
  background-color: #000;

}

a:link{

color:#00c6a5;

}

/* Info messages */

.wrong{

  position: relative;
  display: inline-inherit;
  cursor: pointer;
  margin:auto;
  font-size:26px;
  color:white;
  text-align:center;
  background-color:#d00;
	}
	.correct {

    position: relative;
    display:inline-inherit;
    cursor: pointer;
    margin:auto;
    font-size:26px;
    color:white;
    text-align:center;
    background-color:#00c6a5;
	}



/* Popup container */
.popup {
 position: relative;
 display: inline-block;
 cursor: pointer;
 color:#00c6a5;
}

/*Same length for input fields*/
input, select,  textarea{
    width:540px;
    height:40px;

    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
}

/* The actual popup (appears on top) */
.popup .popuptext {
 visibility: hidden;
 width: 160px;
 background-color: #555;
 color: #fff;
 text-align: center;
 border-radius: 6px;
 padding: 8px 0;
 position: absolute;
 z-index: 1;
 bottom: 125%;
 left: 50%;
 margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
 content: "";
 position: absolute;
 top: 100%;
 left: 50%;
 margin-left: -5px;
 border-width: 5px;
 border-style: solid;
 border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
 visibility: visible;
 -webkit-animation: fadeIn 1s;
 animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
 from {opacity: 0;}
 to {opacity: 1;}
}

@keyframes fadeIn {
 from {opacity: 0;}
 to {opacity:1 ;}
}
